@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body,html{
  margin: 0 !important;
  padding: 0 !important;

  font-family: 'Oswald', sans-serif;
}