# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PizzaDelivery.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Andrew\RiderProjects\PizzaDelivery\.idea\.idea.PizzaDelivery\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
